<a href="https://colab.research.google.com/github/Akatsy/ADS-Assignment-1/blob/main/introduction_to_pythoned0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
### we use hashtag to put comments on a code of line

In [ ]:
## variable storage
angie_k=15
print(angie_k)

15

In [ ]:
## variable naming rules
#  variable names cant begin with a number
# when writing variables, use under scocres
# no spaces or special characters when writing a variable name since it will give you an error
angelah_k= "girl"
print(angelah_k)

girl

In [ ]:
a result= 3.5  # there should be no spaces in between variables spaces 
print(a result)

SyntaxError: ignored

In [ ]:
1 result= 20  # variables dont start with numbers

print(1 result)

SyntaxError: ignored

In [ ]:
# no special characters when naming variables , this will resuklt to erroe
angie_$= 12
print(angie_$)

In [ ]:
## OPERATIONS IN PYTHON
# Syntax shortcuts
##   1. +=
x=6
x+=2
print(x)

In [ ]:
##  2. -=
y=9
y-=3
print(y)

In [ ]:
## 3. *=
m=7
m*=5
print(m)

In [ ]:
## 4. /=
v=9
v/=3
print(v)

3.0

In [ ]:
## 5.**=
h=6
h**=3
print(h)

216

In [ ]:
## round() code  - used to round floats

angie_h=15.36
angie_h+=74.10
angie_h=round(angie_h)
print(angie_h)

89

In [ ]:
## to convert into float
angie_h=float(angie_h)
print(angie_h)

89.0

In [ ]:
## to conevert into int
angie_h=int(angie_h)
print(angie_h)

89

Data types
1. strings
2.Intergers
3. Floats
4. boo

In [ ]:
## We call the process of linking two or more strings together concatenation.
## String concatenation. --- we use + operator to concatenate
print("a"+"1")
print("a"+" "+ "b")

a1
a b

In [ ]:
print("a"*4)
print("b"*9)

aaaa
bbbbbbbbb

In [ ]:
## conversion of string to int or float
b="4.5"
print(int(b) +5)

ValueError: ignored

In [ ]:
## lists

## Lists
# rules
To create a list of data points, we need to do the following:

1.Separate the data points with a comma
2.Surround the sequence of data points with brackets

In [ ]:
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]

In [ ]:
## len()-- To find the length of a list, we can use the
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
print(len(row_2))

5

**List indexing**
Each element (data point) in a list has a specific number associated with it â€” this is an index number. The indexing always starts at 0, so the first element will have the index number 0, the second element will have the index number 1, and so on.
 e.g in row_2, instagram is 0, 0.0 is 1

In [ ]:
##List slicing
#rules
To retrieve any list slice we want, we do the following:

We identify the first and the last element of the slice.
We identify the index numbers of the first and the last element of the slice.
We retrieve the list slice we want by using the syntax a_list[m:n], where the following are true:
m represents the index number of the first element of the slice
n represents the index number of the last element of the slice plus one (if the last element has the index number 2, then n will be 3, if the last element has the index number 4, then n will be 5, and so on).

python for loops -
In Python, the for loop is used to run a block of code for a certain number of times. It is used to iterate over any sequences such as list, tuple, string

In [ ]:
# for example
app_names = ['Facebook', 'Instagram', 'Clash of Clans', 'Fruit Ninja Classic', 'Minecraft: Pocket Edition']
for names in app_names:
    print(names)

Facebook
Instagram
Clash of Clans
Fruit Ninja Classic
Minecraft: Pocket Edition

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]

app_data_set = [row_1, row_2, row_3, row_4, row_5]
for rating in app_data_set:
    rating_count=rating[-2]
    print(rating_count)

2974676
2161558
2130805
698516
522012

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]

app_data_set = [row_1, row_2, row_3, row_4, row_5]
rating_sum=0
for rating in app_data_set:  ## loops/iterate the app_data set
    rating_count=rating[-1]  ## to extract the ratings
    rating_sum=rating_sum+rating_count  ## it sums up the whole rating to a total of 21.5   ,(3.5+4.5+4.5+4.5+4.5)
    print(rating_sum) ## it displays the output

3.5
8.0
12.5
17.0
21.5

## Python If, Else, Elif **Statements** **bold text**

In [1]:
## Python evaluates any combination of Booleans to a single Boolean value:

## print(True and True)
## print(True and False)
## print(False and True)
## print(False and False)

output
True
False
False
False


N/B  As a rule, when we combine Booleans using and the resulting Boolean is True only if all the Booleans are True. If any of the Booleans are False, then the resulting Boolean will be False: